html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0; 
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


h4 {font-family:arial; color:white; font-size:30px; text-shadow: 2px 2px 6px #000000; }
h5 {font-family:arial; color:#d9d9d9; font-size:19px; font-weight:10; }

a {font-family:arial; text-decoration:none; colr:#003cb3;}


table tr.top {background-image:url("images/upper.jpg");  }
table td.banner1 {background-size: 10%;  padding-left:20px; height:90px; }
table td.banner2 {padding-left:20px;height:30px; padding-top:4px; background-color:#003cb3; }
table td.banner3 {vertical-align:middle; padding-left:20px; height:30px; border-top:3px solid #c4daea;  padding-top:4px; font-family:arial; text-color:#003cb3; font-size:14px; background-color:#00cbcb; }

#logobox {height:160px; padding-top:8px; border: 2px solid; color: blue;background-color:white;}
#mainmenu {font-family:arial; color: #003cb3; font-size:24px; position:absolute; line-height:10px; height:560px;padding:5px; background-size:10%; background-image:url("images/menu.jpg");}
#mainpic { align-items:top; width:90%;}
#welcome {  padding-left:44px; font-family:arial; color:white; text-shadow: 2px 2px 6px #000000;display:inline-block;font-size:300%;}

.popup-trigger {display:block; cursor:hand;height:22px; padding: 5px; font-size:17px; text-align:middle; vertical-align:middle; background: white;border: 1px solid #003cb3;  color: #003cb3;}

.popup { display:none; left:0px; padding-left:20px; top:0px; overflow:scroll; margin-left:70px;  margin-top:-100px; position:fixed; width: 890px; padding: 5px; background: #fff; color:black; font-size: 18px; line-height: 19px; border: 8px solid #150E2D; z-index: 100;}

.popup-btn-close {position: absolute; top: 8px; right: 14px; color: #4EBD79; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}

#select_logo={font-family:arial; text-color:007d9; font-size:14px;} 


.slider-width {
  width:80%;
}
.slider{
    width:90%;
    line-spacing:6px;
    margin:10px;
    text-align:left;
    border:1px solid black;
    font-size: 15px;
    float:left;
    line-height:15px;
    padding-left:7px;
    padding-top:4px;
}

.results {
    position: absolute;
    left:200px;
    display: inline-block;
    background:#FFFFFF;
    width:100%
    border:10px solid black;
;}

.formcontainer{
    margin:-7px;
}
.formsection {
    margin:7px;
    line-height:20px;
    padding-left:7px;
    padding-right:25px;
    padding-top:6px;
    padding-bottom: 6px; 
   right:30px;
    text-align:right;
    border:1px solid black;
    font-size: 15px;
    width:44%;
    float:left;
}

input[type=number]{
    width: 120px;
    height: 16px;
}
