html, body, div, span, applet, object, iframe,
 h4, h5, h6, p, blockquote, pre,
 abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,  th, 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0; 
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


h4 {font-family:helvetica; color:white; font-size:30px; font-weight:100; text-shadow: 2px 2px 6px #000000; }
h5 {font-family:helvetica; color:#d9d9d9; font-size:19px; font-weight:100; }

a {font-family:helvetica; text-decoration:none; line-spacing:18px; color:#003cb3;}


select { 
width:200px;
}
table tr.top {background-image:url("images/upper.jpg");  }
table td.banner1 {background-size:-20%;  padding-left:20px; height:90px; }
table td.banner2 {padding-left:20px;height:30px; padding-top:4px; background-color:#003cb3; }
table td.banner3 {vertical-align:middle; padding-left:20px; height:35px; border-top:3px solid #c4daea;  padding-top:4px; font-family:helvetica; text-color:#003cb3; font-size:14px; background-color:#00cbcb; }

#logobox {height:175px; padding-top:8px; border: 2px solid; color: blue;background-color:white;}
#mainmenu {
	font-family:helvetica; 
	color: #003cb3; 
	font-size:24px;
 	position:absolute; 
	line-height:10px; 
	height:470px; 
	width:175px;
	padding:5px; 
	background-size:10%; 
	background-image:url("images/menu.jpg");
}

.menuitem {
	height: 24px;
 	vertical-align:middle;	
}

.menuitemword {
	display:inline-block;

}

.menuitemword:hover {
        color:white;
}
#mainpic {align:center;padding-left:20px;  align-items:top; width:80%;}

#welcome {  color: transparent; text-shadow: 0 0 1px #cccccc; padding-left:44px; font-family:helvetica; display:inline-block;font-size:65px;}

.create {
	display:block; 
	position:relative;
	cursor:hand;
	height:32px; 
	width:140px; 
	marigin-left:15px;
	padding: 5px; 
	font-size:17px; 
	text-align:center; 
	vertical-align:middle; 
	background: #003cb3;
	 border: 1px solid #003cb3; 
	 color:white;
}

.create:hover {
        color:#003cb3;
	background:white;

}

a.popup-trigger {
	display:block; 
	cursor:hand; 
	height:22px; 
	padding: 2px; 
	font-size:13px; 
	vertical-align:middle; 
	background: white; 
	border: 1px solid #003cb3;  
	color: #003cb3;}


a.popup-none {
        display:block; 
        cursor:arrow;
        height:22px; 
        padding: 2px; 
        font-size:15px; 
        vertical-align:middle; 
        background: white; 
        border: 1px solid #003cb3;  
        color: #003cb3;}

a:hover{
     	color:white;
	}

.popup-none:hover {
      color: #003cb3;  
      }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
a.goback{
      font-family:helvetica;
      font-size:20px;
      font-weight:200px;
}
a.goback:hover {
       color:grey;
}

.popup-trigger:hover {
	background:grey;
	}


.popup { 
	display:none; 
	padding-left:20px;  
	overflow:scroll;  
	position:fixed; 
	left:20px;
        top:40px;
        width: 910px; 
	padding: 5px; 
	background: #fff; 
	height:600px; 
	color:black; 
	text-align:left;
        border: 8px 
	solid #150E2D; 
	z-index: 100;}

.popup-btn-close {
	position: relative; 
	top:5px;
        left:825px;
        color: #4EBD79; 
	font-size: 14px; 
	font-weight: bold; 
	text-transform: uppercase; 
	cursor: pointer;
}

#select_logo={font-family:helvetica; text-color:007d9; font-size:14px;} 

input[type="number"]::-webkit-inner-spin-button 
  {
  text-align:right; 
  width:300px; 
}

.slider-width {
  width:80%;
}
.slider{
    width:90%;
    line-spacing:6px;
    margin:10px;
    text-align:left;
    border:1px solid black;
    font-size: 15px;
    float:left;
    line-height:15px;
    padding-left:7px;
    padding-top:4px;
}
h3 {
  font-family:helvetica;
  font-size:14px;
  line-height:14px;
}
.results {
    background:#FFFFFF;
    height:370px;
    overflow:scroll; 
    border:0px solid black;
    text-align:center;
}

.formcontainer{
    margin:-7px;
}
.formsection {
    margin:7px;
    line-height:20px;
    padding-left:7px;
    padding-right:25px;
    padding-top:6px;
    padding-bottom: 6px; 
   right:30px;
    text-align:left;
    border:1px solid black;
    font-size: 10px;
    width:44%;
    float:left;
}

.formsection2 {
    line-height:20px;
    padding-left:7px;
    padding-right:25px;
    padding-top:6px;
    padding-bottom: 6px;
    right:30px;
    text-align:left;
    border:1px solid black;
    width:90%;
    font-size: 10px;
    float:left;
}


.input[type=number]{
    width: 120px;
    height: 16px;
}
.formoutput {
  border:1px; 
  display:none; !important;
  cellpadding:5px;
} 



.menuitem{
  color: blue;
  cursor: pointer;
}

.menuitem:hover{
  text-decoration: none;
  color:white;
}

#file_input_id{
  display:none;
}

[type=number] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
