<html>
<head>
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var data = new google.visualization.DataTable()
      data.addColumn('number', 'Neighborhood 1');
      data.addColumn('number', 'Neighborhood 2');
      data.addColumn('number', 'Neighborhood 3');
      data.addColumn('number', 'Neighborhood 4');

      data.addRows([
        [1,  37.8, 80.8, 41.8],
        [2,  30.9, 69.5, 32.4],
        [3,  25.4,   57, 25.7],
        [4,  11.7, 18.8, 10.5],
        [5,  11.9, 17.6, 10.4],
        [6,   8.8, 13.6,  7.7],
        [7,   7.6, 12.3,  9.6],
        [8,  12.3, 29.2, 10.6],
        [9,  16.9, 42.9, 14.8],
        [10, 12.8, 30.9, 11.6],
        [11,  5.3,  7.9,  4.7],
        [12,  6.6,  8.4,  5.2],
        [13,  4.8,  6.3,  3.6],
        [14,  4.2,  6.2,  3.4]
      ]);

      var options = {
        chart: {
          title: 'Time Series Graph 1',
          subtitle: '(results can be exported as a CSV file)'
        },
        legend: {position: 'none'},
        width: 620,
        height: 430,
	vAxis: {
          title: 'Capacity (millions)',
          ticks: [0, 25, 50, 75, 100]
        },
         hAxis: {
          title: 'Time (years)',
          ticks: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
        }
	};
        var chart = new google.charts.Line(document.getElementById('linechart1_material'));
        chart.draw(data, google.charts.Line.convertOptions(options));
      }
</script>
<script> 
       google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var data = new google.visualization.DataTable()
      data.addColumn('number', 'Neighborhood 1');
      data.addColumn('number', 'Neighborhood 2');
      data.addColumn('number', 'Neighborhood 3');
      data.addColumn('number', 'Neighborhood 4');

      data.addRows([
        [1,  7.8, 81.8, 21.8],
        [2,  10.9, 6.5, 32.4],
        [3,  55.4,  7, 2.7],
        [4,  61.7, 48.8, 18.5],
        [5,  19.9, 67.6, 67.4],
        [6,  28.8, 16.6,  70.7],
        [7,  37.6, 18.3,  39.6],
        [8,  1.3, 19.2, 17.6],
        [9,  16.9, 49.9, 45.8],
        [10, 12.8, 31.9, 81.6],
        [11, 25.3,  72.9,  4.7],
        [12,  76.6,  28.4,  5.2],
        [13,  14.8,  46.3,  3.6],
        [14,  74.2,  61.2,  3.4]
      ]);

      var options = {
        chart: {
          title: 'Time Series Graph 2',
          subtitle: '(results can be exported as a CSV file)'
        },
        
	legend: { position: 'none' },
	width: 660,
        height: 430,
        vAxis: {
          title: 'Capacity (millions)',
          ticks: [0, 25, 50, 75, 100]
        },
         hAxis: {
          title: 'Time (years)',
          ticks: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
        }
        };
        var chart = new google.charts.Line(document.getElementById('linechart2_material'));
        chart.draw(data, google.charts.Line.convertOptions(options));
     } 



</script>




</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</script>

<body>

<table style={width: 1px;}>

<tr class="top" >
<td class="banner1" ><h4>INTEGRATED WATER RESOURCES EVALUATION TOOL</h4></td>
<td  id="welcome">WELCOME</td>

<td rowspan="3">
<div id="logobox">
<img height=60px src="../static/images/waterfront.png">
<img height=60px src="../static/images/ryerson.png">
<img height=1px width=10px src="../static/images/spacer.gif">
</div>
</td>
<tr>
<td colspan="2" class="banner2"><h5>assessing metabolic performance of hybrid water systems</h5></td>
</tr>
<tr class="banner3" >
<td colspan=2 class="banner3"><img class="menuitem" src="../static/images/folder.png"><label class="menuitemword" for="file_input_id">&nbspLoad Project</label><input type="file" id="file_input_id">&nbsp  &nbsp&nbsp&nbsp <a  href='#' onclick='downloadCSV({ filename: "form-data.csv" });'>&nbsp<img src="../static/images/save.png" class="menuitem">&nbsp<span class="menuitemword"> Save Project</span></a>&nbsp&nbsp&nbsp<a href='#'>&nbsp<img src="../static/images/information.png" class="menuitem"><span class="menuitmeword">&nbsp&nbspDocumentation</span></a> &nbsp&nbsp&nbsp <a href='#'><img src="../static/images/about.png" class="menuitem"><span="menuitemword">&nbspAbout </span></a> </td>
</tr>




<tr>
<td colspan=2>
<div id="container">
<div id="results1">
    <div id="linechart1_material"></div>
</div>
<div id="results2">
    <div id="linechart2_material"></div>
</div>
</div>

</td>

<td id="mainmenu" valign="top">
<a href="../" class="goback" ><i class="left"></i><  Back</a>
</td>

</tr>
</table>


<script>


var FormData = [
{
    WTField1: "xx",
    WTField2: "xx",
    WTFiled3: "xx"
},
{
    WDField1: "xx",
    WDField2: "xx",
    WDField3: "xx"
},
{
    PSField1: "xx",
    PSField2: "xx",
    PSField3: "xx"
},
];


function convertArrayOfObjectsToCSV(args) {
var result, ctr, keys, columnDelimiter, lineDelimiter, data;

data = args.data || null;
if (data == null || !data.length) {
    return null;
}

columnDelimiter = args.columnDelimiter || ',';
lineDelimiter = args.lineDelimiter || '\n';

keys = Object.keys(data[0]);

result = '';
result += keys.join(columnDelimiter);
result += lineDelimiter;

data.forEach(function(item) {
    ctr = 0;
    keys.forEach(function(key) {
        if (ctr > 0) result += columnDelimiter;

        result += item[key];
        ctr++;
    });
    result += lineDelimiter;
});

return result;
}

function downloadCSV(args) {
  var data, filename, link;
  var csv = convertArrayOfObjectsToCSV({
     data: FormData
  });
  if (csv == null) return;

  filename = args.filename || 'export.csv';

  if (!csv.match(/^data:text\/csv/i)) {
      csv = 'data:text/csv;charset=utf-8,' + csv;
 }
  data = encodeURI(csv);

  link = document.createElement('a');
  link.setAttribute('href', data);
  link.setAttribute('download', filename);
  link.click();
}

</script>

</body>
</html>






