<html>
 <head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Director (Year)',  'Gauge1', 'Gauge2', 'Gauge3'],
          ['Output1', 8.4,         7.9, 4.2],
          ['Output2',     6.9,         6.5, 3.9],
          ['Output3',        6.5,         6.4,  12.4],
          ['Output4',      4.4,         6.2, 7.6]
        ]);

        var options = {
          title: 'Water Treatment Resources',
          vAxis: {title: 'Accumulated Rating'},
          isStacked:'relative',
          height:400,
          legend: {position: 'top', maxLines: 3},
        };

       var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

       chart.draw(data, options);
      } 

    </script>
</head>


<body>
<div>
<h3>Final Well Reading on {{ data.final_reading }}</h3>
</div>

 <div class="main">
 <div class="results">
    <div id="chart_div"></div>
    <div id="barchart_material"></div>
    <div id="donutchart" style="float:right;"></div>
     <div id="gaugechart" style="position:'inline'; top: 100px; width: 400px; height: 120px;"></div>
  </div>
 </div>


</body>
</html>
